<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perros y Gatos</title>
    <link rel="stylesheet" href="static/css/stylesMascotas.css">
</head>

<body>
    <header>
        <h1>Adoptame</h1>
    </header>

    <main>
        <section class="perros">
            <h2>Perros</h2>
            <div class="galeria">
                <div class="perro">
                    <img src="static/img/perro5.jpg" alt="Perro 5">
                    <h3>Golden Retriever</h3>
                    <p>Este adorable Golden Retriever está buscando un hogar amoroso. Es un perro juguetón y cariñoso
                        que le encantaría estar contigo.</p>
                </div>
                <div class="perro">
                    <img src="static/img/perro4.jpg" alt="Perro 4">
                    <h3>Labrador Retriever</h3>
                    <p>Este Labrador Retriever es un compañero leal y protector. Es un perro inteligente y fácil de
                        entrenar que sería una gran adición a tu familia.</p>
                </div>

                <div class="perro">
                    <img src="static/img/perro3.jpg" alt="Perro 3">
                    <h3>Pastor Alemán</h3>
                    <p>Este Pastor Alemán es un perro valiente e inteligente. Es un perro trabajador que sería un gran
                        perro guardián o de servicio.</p>
                </div>

                <div class="perro">
                    <img src="static/img/perro2.jpg" alt="Perro 2">
                    <h3>Pastor Alemán</h3>
                    <p>Este Pastor Alemán es un perro valiente e inteligente. Es un perro trabajador que sería un gran
                        perro guardián o de servicio.</p>
                </div>
            </div>
        </section>

        <section class="gatos">
            <h2>Gatos</h2>
            <div class="galeria">
                <div class="gato">
                    <img src="static/img/gato1.jpg" alt="Gato 1">
                    <h3>Gato atigrado</h3>
                    <p>Este gato atigrado es un felino independiente y juguetón. Es un gato cariñoso que le encantaría
                        acurrucarse contigo en el sofá.</p>
                </div>
                <div class="gato">
                    <img src="static/img/gato2.jpg" alt="Gato 2">
                    <h3>Gato siamés</h3>
                    <p>Este gato siamés es un gato vocal y cariñoso. Es un gato inteligente y juguetón que sería una
                        gran adición a tu familia.</p>
                </div>
                <div class="gato">
                    <img src="static/img/gato3.jpg" alt="Gato 3">
                    <h3>Gato persa</h3>
                    <p>Este gato persa es un gato tranquilo y cariñoso. Es un gato peludo que requiere un cepillado
                        regular.</p>
                </div>
                <div class="gato">
                    <img src="static/img/gato4.jpg" alt="Gato 4">
                    <h3>Gato persa</h3>
                    <p>Este gato persa es un gato tranquilo y cariñoso. Es un gato peludo que requiere un cepillado
                        regular.</p>
                </div>
            </div>
        </section>
    </main>
    <script src="static/javascript/scriptEditar.js"></script>
    <footer>
        <p>&copy; 2024 Perros y Gatos</p>
    </footer>
</body>

</html>