<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
    <link rel="stylesheet" href="static/css/stylesInicio.css">
</head>
<body>
    <header>
        <h1>Bienvenidos</h1>
        <nav>
            <a href="/adoptar" class="boton-adoptar">Perros y Gatos</a>
        </nav>
    </header>

    <main>
        <section class="perros">
            <div class="imagenes-centrales">
                <img src="static/img/perro4.jpg" alt="Perro 1">
                <img src="static/img/gato5.jpg" alt="Gato 5">
            </div>
        </section>

    <footer>
        <p>&copy; 2024 Adopta un Perro o Gato </p>
    </footer>
</body>
</html>
